  #maindiv {
    display: inline-block;
  }
  #rack {
    display: inline-block;
  }
  .updateButton {
    float: left;
    padding: 20px;
  }
  .switchButton {
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 38%;
  }
  .shuffleButton {
    float: right;
    padding: 20px;
  }
  .shuffleButton {
    float: right;
    padding: 20px;
  }
  h2 {
    font-size: 40px;
  }
  ul {
    list-style: none outside none;
    margin:0;
    padding: 0;
  }
  li {
    float: left;
  }
